.links{
    text-shadow: 1px 2px 4px rgb(177, 174, 174) !important;
    font-size: large !important;
    }
    .links:hover{
       color: rgb(165, 79, 36)  !important;
       text-decoration: underline; 
       transform:scale(1.2);
       transition: all .3  ease-out;
       font-style: 28px  !important;
      }
    
      .navbar-brand >img{
        border-radius: 20px;
      }
    
    nav{
        padding: 0 !important;
        margin: 0 !important;
    }